{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="container bootstrap snippets bootdeys">
    <div class="row">
        {% for project in projects %}
        <div class="col-md-4 col-sm-6 content-card">
            <div class="card-big-shadow">
                <div class="card card-just-text" data-background="color" data-color="blue" data-radius="none">
                    <div class="content">
                        <img src="{{ project.imageProject }}">
                        <h6 class="category m-2">{{ project.createdAt.format('d/m/Y') }}</h6>
                        <h4 class="title">{{ project.title }}</h4>
                        <p class="description">{{ project.description }} </p>
                        <a class="text-decoration-none" href="{{ project.projectLink }}"> {{ project.projectLink }} </a>
                        <div class="m-2">
                            <a width="30px" href="{{ project.githubLink }}"><img src="https://cdn.pixabay.com/photo/2017/08/05/11/24/logo-2582757_960_720.png" width="40px"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

        <div class="col-md-4 col-sm-6 content-card">
            <div class="card-big-shadow">
                {% for project in projects %}
                <div class="card card-just-text" data-background="color" data-color="green" data-radius="none">
                    <div class="content">
                        <img src="{{ project.imageProject }}">
                        <h6 class="category m-2">{{ project.createdAt.format('d/m/Y') }}</h6>
                        <h4 class="title">{{ project.title }}</h4>
                        <p class="description">{{ project.description }}</p>
                        <a class="text-decoration-none" href="{{ project.projectLink }}"> {{ project.projectLink }} </a>
                        <div class="m-2">
                            <a width="30px" href="{{ project.githubLink }}"><img src="https://cdn.pixabay.com/photo/2017/08/05/11/24/logo-2582757_960_720.png" width="40px"></a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}