{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    {% for project in projects %}
        <div class="card">
            <h4 class="title">{{ project.title }}</h4>
            <p class="description">{{ project.description }} </p>
            <a href="{{ path('admin_edit', {'id': project.id}) }}">Éditer le projet</a>
            <a href="{{ path('admin_deleteProject', {'id': project.id}) }}">supprimer le projet</a>
        </div>
    {% endfor %}
    <hr>

    {% for skill in skills %}
            <div class="card">
                <div class=" text-black hover-zoom">
                    <img src="{{ skill.image }}" width="100px">
                </div>
                <p class="description">{{ skill.name }}</p>
                <a href="{{ path('admin_deleteSkill', {'id': skill.id}) }}">supprimer le skill</a>

            </div>
    {% endfor %}
{% endblock %}
